@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    user-select: none;
    pointer-events: none;   
}

@layer utilities{
    .clip{
      clip-path: polygon(0 0, 85% 0, 100% 30%, 100% 100%, 100% 100%, 15% 100%, 0 75%, 0% 30%);
    }
    .clip2{
      clip-path: polygon(0 0, 95% 0, 100% 5%, 100% 100%, 100% 100%, 5% 100%, 0 95%, 0% 0%);
    }
}


/* =======CUSTOM SCROLLBAR========= */

::-webkit-scrollbar {
  width: .25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #0057b7;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

html {
  scrollbar-color: #0057b7 transparent;
  scrollbar-width: auto;
}

html:hover {
  scrollbar-color: #0057b7 transparent;
}